In [1]:
from src.basic import PATH

at db_dates , benchmark will be deprecated soon, please update your code
at db_dates , benchmark will be deprecated soon, please update your code
at db_dates , benchmark will be deprecated soon, please update your code
at db_dates , benchmark will be deprecated soon, please update your code

In [10]:
import numpy as np
calendar = PATH.db_load('information_ts' , 'calendar')
assert calendar is not None
calendar = np.array(calendar['calendar'].values[calendar['trade'] == 1])
calendar

array([19901219, 19901220, 19901221, ..., 20241227, 20241230, 20241231])

In [3]:
TSData.INFO.cname

,name,start_date,end_date,ann_date,change_reason,secid,entry_dt,remove_dt
31761,深发展A,19910403,20061008,-1,其他,1,-1,20061008
31762,深发展A,19910403,20061008,-1,其他,1,-1,20061008
21792,S深发展A,20061009,20070619,-1,未股改加S,1,-1,20070619
23613,S深发展A,20061009,20070619,-1,未股改加S,1,-1,20070619
20811,深发展A,20070620,20120801,-1,完成股改,1,-1,20120801
...,...,...,...,...,...,...,...,...
11,科拜尔,20241031,99991231,-1,其他,920066,-1,99991231
18,科力股份,20241029,99991231,-1,其他,920088,-1,99991231
48,瑞华技术,20240925,99991231,-1,其他,920099,-1,99991231
0,聚星科技,20241111,99991231,-1,其他,920111,-1,99991231
82,太湖远大,20240822,99991231,-1,其他,920118,-1,99991231

In [5]:
import pandas as pd
pd.read_feather('./data/DataBase/DB_benchmark/csi300/2024/csi300.20240102.feather')

      secid   weight
0         1  0.00521
1         2  0.00403
2        63  0.00476
3        69  0.00087
4       100  0.00468
..      ...      ...
295  688363  0.00074
296  688396  0.00135
297  688561  0.00062
298  688599  0.00176
299  688981  0.00610

[300 rows x 2 columns]

In [2]:
csi300.get_data(20241108 , 20241112)

KeyError: 'trade_date'

In [8]:
reason = ['终止上市', '暂停上市' , 'ST', '*ST', ]
cname = PATH.db_load('information_ts' , 'change_name') 
cname = cname[cname['secid'] >= 0].sort_values(['secid','ann_date','start_date'])
cname = cname[cname['change_reason'].isin(reason)]
cname

,name,start_date,end_date,ann_date,change_reason,secid,entry_dt,remove_dt
29336,ST金田A,20000509,20010510,-1,ST,3,-1,20010510
29345,ST金田A,20000509,20010510,-1,ST,3,-1,20010510
28757,PT金田A,20010511,99991231,-1,暂停上市,3,-1,99991231
28764,PT金田A,20010511,99991231,-1,暂停上市,3,-1,99991231
29777,ST深安达,19990427,20010305,-1,ST,4,-1,20010305
...,...,...,...,...,...,...,...,...
2697,*ST泽达,20221122,20230607,20221119,*ST,688555,20221119,20230607
1486,退市泽达,20230608,99991231,20230601,终止上市,688555,20230601,99991231
1494,退市泽达,20230608,99991231,20230601,终止上市,688555,20230601,99991231
13299,ST上普,20170328,20170424,20170325,ST,706055,20170325,20170424
13127,*ST上普,20170425,99991231,20170422,*ST,706055,20170422,99991231

In [ ]:
def get_abnormal(self , date : int | TradeDate | None = None , reason = ['终止上市', '暂停上市' , 'ST', '*ST', ]):
        if date is None: 
            new_cname = self.cname.copy()
        else:
            new_cname = self.cname[self.cname['start_date'] <= date].copy().drop_duplicates('secid' , keep = 'last')
        new_cname = new_cname[new_cname['change_reason'].isin(reason)]
        return new_cname

In [ ]:
if date is None: 
    new_cname = self.cname.copy()
else:
    new_cname = self.cname[self.cname['start_date'] <= date].copy().drop_duplicates('secid' , keep = 'last')
new_cname = new_cname[new_cname['change_reason'].isin(reason)]